@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
   font-family: "Roboto", serif;
   font-weight: 400;
   font-style: normal;
}

.roboto-thin {
   font-family: "Roboto", serif;
   font-weight: 100;
   font-style: normal;
}

.roboto-light {
   font-family: "Roboto", serif;
   font-weight: 300;
   font-style: normal;
}

.roboto-regular {
   font-family: "Roboto", serif;
   font-weight: 400;
   font-style: normal;
}

.roboto-medium {
   font-family: "Roboto", serif;
   font-weight: 500;
   font-style: normal;
}

.roboto-bold {
   font-family: "Roboto", serif;
   font-weight: 700;
   font-style: normal;
}

.roboto-black {
   font-family: "Roboto", serif;
   font-weight: 900;
   font-style: normal;
}

.roboto-thin-italic {
   font-family: "Roboto", serif;
   font-weight: 100;
   font-style: italic;
}

.roboto-light-italic {
   font-family: "Roboto", serif;
   font-weight: 300;
   font-style: italic;
}

.roboto-regular-italic {
   font-family: "Roboto", serif;
   font-weight: 400;
   font-style: italic;
}

.roboto-medium-italic {
   font-family: "Roboto", serif;
   font-weight: 500;
   font-style: italic;
}

.roboto-bold-italic {
   font-family: "Roboto", serif;
   font-weight: 700;
   font-style: italic;
}

.roboto-black-italic {
   font-family: "Roboto", serif;
   font-weight: 900;
   font-style: italic;
}

.black-btn {
   padding: 0.5rem 1rem;
   background-color: rgb(0, 0, 0);
   border: 2px solid rgb(88, 88, 88);
   box-shadow: 0px 0px 2px rgb(161, 161, 161);
   border-radius: 10px;
   color: white;
}

.white-btn {
   padding: 0.5rem 1rem;
   background-color: white;
   border: 2px solid rgba(160, 149, 149, 0.249);
   box-shadow: 0px 0px 2px gray;
   border-radius: 10px;
}
.blue-btn {
   padding: 0.5rem 1rem;
   background-color: rgb(5, 96, 215);
   border: 3px solid rgba(50, 120, 215, 0.7);
   box-shadow: 0px 0px 2px rgb(206, 206, 206);
   border-radius: 10px;
   color: white;
}

/* Logo Section */
.photo {
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: 80%;
}
.photo img {
   width: 15%;
   aspect-ratio: 3/2;
   object-fit: contain;
   color: black;
   filter: brightness(0);
}

/* Arrow Button */
.arrow-btn {
   position: absolute;
   top: 40%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.arrow-btn::before,
.arrow-btn::after {
   content: "";
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border-radius: 100%;
   z-index: 2;
}

.arrow-btn::before {
   width: 70px;
   height: 70px;
   border: 1px solid rgb(206, 206, 206);
   background-image: linear-gradient(rgb(255, 255, 255), rgb(222, 222, 222));
   animation: circle-size 0.8s linear infinite alternate;
}

.arrow-btn::after {
   width: 55px;
   height: 55px;
   border: 1px solid rgb(206, 206, 206);
   background-color: #ffffff;
}

.arrow-icon {
   box-sizing: border-box;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(5);
   font-size: 0.4rem;
   color: #7797fe;
   z-index: 3;
}

.white-sm-btn {
   padding: 0.2rem 0.8rem;
   background-color: white;
   border: 2px solid rgba(160, 149, 149, 0.249);
   box-shadow: 0px 0px 2px gray;
   border-radius: 10px;
}

.Exam-scheduling-effect {
   height: 20rem;
   width: 100%;
   position: relative;
   top: -20rem;
   background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
   );
   /* left: 50%; */
   /* transform: translate(-50%, -50%) scale(5); */
}

/* Feature section */
.featureImage {
   margin-top: 1rem;
   height: 10rem;
   width: 20rem;
}
